* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 98.5%;
    margin: 20px 12px;
    columns: 6;
    column-gap: 18px;
}

.container .box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    cursor: pointer;
}

.container .box:hover {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container .box img {
    max-width: 100%;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .container {
        width: calc(100% -40px);
        columns: 5;
    }
}

@media (max-width: 768px) {
    .container {
        columns: 4;
    }
}

@media (max-width: 768px) {
    .container {
        columns: 3;
    }
}

/*Tạo hiệu ứng hover ảnh*/
.overlay {
    position: absolute; 
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s; 
    border-radius: 15px; 
}

.container .box:hover .overlay {
    opacity: 1; /* lớp phủ sẽ hiển thị khi hover */
}

/*Save button*/
.saveBtn {
    position: absolute;
    top: 10px; right: 10px;
    background-color: #e60023;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 15px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
  }

  .box:hover .saveBtn,
  .box:hover .bottomBtn {
    display: block;
  }

  .bottomBtn {
    position: absolute;
    bottom: 15px; left: 8px; 
    display: none; 
    gap: 5px; /* Khoảng cách giữa các nút */
  }

  .bottomBtn button {
    background-color: white;
    width: 30px; height: 30px;
    border: none;
    color: black;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
  }

  .box:hover .bottomBtn{
    display: flex;
    align-items: center;
    justify-content: center; 
  }