.HeaderBar {
    width: 100%;
}
.HeaderBar .Items {
    width: 100%;
    display: inline-block;
}
.Items .Photo {
    padding-left: 20px;
}
.Items li {
    float: left;
    padding: 10px 0px;
    margin-top: 5px;
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

.Items .homeBtn {
    margin-left: 8px;
}

.Items li button {
    color: black;
    border-radius: 18px;
    font-size: 18px;
    padding: 8px 10px;
}

.Items .logOut {
    float: right;
    margin-right: 20px;
}

.logOutBtn {
    background-color: rgb(215, 32, 32);
    border-radius: 8px;
    border: 0.2px solid rgb(215, 32, 32);
    padding: 5px 7px;
    color: white !important;
}