.HeaderBar {
    width: 100%;
}
.HeaderBar .Items {
    width: 100%;
    display: inline-block;
}
.Items .Photo {
    padding-left: 20px;
}
.Items li {
    float: left;
    padding: 10px 0px;
    margin-top: 5px;
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

.Items .homeBtn {
    margin-left: 8px;
}

.Items li button {
    color: black;
    border-radius: 18px;
    font-size: 18px;
    padding: 8px 10px;
    cursor: pointer;
}

.Items .rightBtn {
    float: right;
    display: flex;
    margin-right: 20px; margin-top: 10px;
    gap: 10px;
}

.logOutBtn {
    background-color: rgb(215, 32, 32);
    border-radius: 10px;
    border: 0.2px solid rgb(215, 32, 32);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.accBtn {
    margin-right: 5px;
    width: 40px; height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: black;
    font-size: 20px;
}