#uploadMain {
    padding: 25px;
    padding-left: 40px;
    margin-left: 40px;

}

#uploadMain .imgContainer {
    width: 400px;
    height: 400px;
    border: 0.5px solid black;
    border-radius: 20px;
}

#uploadMain .imgChosen {
    margin-top: 15px;
}
#uploadMain .imgUpload {
    padding: 12px;
    width: 400px; height: 400px;
    background-image: url("https://t4.ftcdn.net/jpg/05/65/22/41/360_F_565224180_QNRiRQkf9Fw0dKRoZGwUknmmfk51SuSS.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#uploadMain .uploadtxt {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Calibri';
}

#uploadMain .contentInput {
    font-size: 18px;
    font-family: 'Calibri';
    font-weight: 200;
    width: 320px;
}


#uploadMain .uploadBtn {
    border: 0.5px transparent;
    border-radius: 8px;
    background-color: black;
    font-size: 16px;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

